*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(.idea/assets/bild.png);
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center;
    font-family:sans-serif;
}
.form-box{
    width: 500px;
    background: rgba(0,0,0,0.8);
    margin: 12% auto;
    padding: 50px 0;
    color: #fff;
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
}
h1{
    text-align: center;
    margin-bottom: 40px;
}
.input-box{
    margin: 31px auto;
    width: 80%;
    border-bottom: 1px solid #fff;
    padding-top: 10px;
    padding-bottom: 5px;
}
.input-box input {
    width: 90%;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
}

.input-box input.error {
    color: red;
}

.buttons {
    display: flex;
    justify-content:space-around;
    margin: 31px auto;
    width: 80%;
}

.buttons input {
    padding: 1rem;
    border: none;
    outline: none;
    background:white;

}
